.cr {
    .db-title {
        .bw {  
            width:93px;
        }
    }
    .cr-add {
        height:100%;
        overflow:hidden;
    }
    .cr-form {
        height:100%;
        overflow:auto;
        -webkit-overflow-scrolling:touch;
        padding-bottom:28px;

        .cr-form-tip {
            height:48px;
            line-height: 48px;
            text-indent: 24px;
            color:#9a9a9a;
            font-size:18px;
        }

        

        form {
            background:#fff;
        }
        .employee-form {
            .r-store {
                .bw {
                    width:14px;
                    height:14px;
                    margin:0 24px;
                    transform: rotate(-90deg);
                    &:before, &:after {
                        background:#4d4d4d;
                        width:14px;
                        height:2px;
                        margin-top:-1px;
                    }
                }
            }
                
        }
    }
}